{% set pageId = "page-profile" %}
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="profile-wrapper">
    <h1>Profil de {{ user.firstname }}</h1>

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(formUser) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(formUser) }}
        </div>

        <div class="row mb-4">
            <div class="col">
                {{ form_row(formUser.firstname) }}
            </div>

            <div class="col">
                {{ form_row(formUser.lastname) }}
            </div>
        </div>

        <div class="form-group mb-4">
            {{ form_row(formUser.email) }}
        </div>

        <div class="form-group mb-4">
            {{ form_row(formUser.tel) }}
        </div>

        <div class="form-group mb-4">
            {{ form_label(formUser.personSkills) }}
            {{ form_errors(formUser.personSkills) }}

            {# store the prototype on the data-prototype attribute #}
            <ul id="person-skills-list"
                data-prototype="{{ form_widget(formUser.personSkills.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ formUser.personSkills|length }}">
                {% for personSkill in formUser.personSkills %}
                    <li>
                        {{ form_errors(personSkill) }}
                        {{ form_widget(personSkill) }}
                    </li>
                {% endfor %}
            </ul>

            <button type="button"
                class="btn btn-outline-success add-another-collection-widget"
                data-list-selector="#person-skills-list">Ajouter une compétence</button>
        </div>

        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">{{ button_label|default('Mettre à jour') }}</button>

        <div class="d-none">
            {{ form_rest(formUser) }}
        </div>
    {{ form_end(formUser) }}

</div>

{% endblock %}