@import '~bootstrap/scss/bootstrap';

body {
    background-color: #F5F5F5;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.navbar {
    margin-bottom: 3rem;
}

.container {

    .card {
        margin-bottom: 2rem;
    }
}

@import 'pages/profile';
@import 'pages/candidate';
