<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body id="{{ pageId is defined ? pageId : '' }}">
        {% if app.user %}
            <style></style>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 px-2">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                    <a class="navbar-brand" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/candidate">Candidats</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user">Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/skill">Compétences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/category">Catégories</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profil</a>
                        </li>
                    </ul>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                        <form class="form-inline d-flex mx-4" method="get" action="{{ path('search') }}">
                            <input class="form-control mr-sm-2 mr-2" type="search" placeholder="Search" name="keywords" aria-label="Search">
                            <button class="btn btn-outline-success mx-2 my-sm-0" type="submit">Search</button>
                        </form>
                    {% endif %}


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-success mx-2 my-sm-0">Déconnexion</a>
                    {% endif %}
                </div>
            </nav>
        {% endif %}
   
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
