{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
<div class="row">
    {% for result in results %}
        <div class="card" class="col">
            <div class="card-body">
                <h5 class="card-title">{{ result.firstname }} {{ result.lastname }}</h5>
                <p class="card-text">{{ result.web_using }}</p>
                <a href="{{ path('profile_edit', {'id': result.id}) }}" class="btn btn-outline-success" title="Voir le détail du profil">
                    Voir le profil
                </a>
            </div>
        </div>
    {% endfor %}

    {% if results is empty %}
        <div class="col-12">
            Aucun profil trouvé, veuillez modifier les mots-clés et relancer une recherche sur le prénom.
        </div>
    {% endif %}
</div>
{% endblock %}
