{% set pageId = "page-candidate" %}
{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>BirthDate</th>
                <th>Job</th>
                <th>DigitalKnowledge</th>
                <th>WebUsing</th>
                <th>Objective</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.firstname }}</td>
                <td>{{ candidate.lastname }}</td>
                <td>{{ candidate.birthDate ? candidate.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.job }}</td>
                <td>{{ candidate.digitalKnowledge }}</td>
                <td>{{ candidate.webUsing }}</td>
                <td>{{ candidate.objective }}</td>
                <td>
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidate_new') }}">Create new</a>
{% endblock %}
