{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ candidate.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidate.lastname }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ candidate.birthDate ? candidate.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Job</th>
                <td>{{ candidate.job }}</td>
            </tr>
            <tr>
                <th>DigitalKnowledge</th>
                <td>{{ candidate.digitalKnowledge }}</td>
            </tr>
            <tr>
                <th>WebUsing</th>
                <td>{{ candidate.webUsing }}</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td>{{ candidate.objective }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidate_index') }}">back to list</a>

    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
